</div><!-- /.container -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; YelpCamp <%= moment().format('YYYY') %> | <a href="/campground">Home</a> | <a
        href="/campground/new">New Campground</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<!-- <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script> -->
<!-- Bootstrap JS CDN -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script> -->
<!-- Custom JS for search feature -->
<!-- FILE JQUERY SUDAH ADA DI HEADER -->
<!-- jQuery -->
<script src="/admin/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin/js/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="/admin/js/sb-admin-2.js"></script>

<!-- Bootstrap Switch -->
<script src="/admin/js/bootstrap-switch.min.js"></script>

<!-- <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script> -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="/admin/js/auto-complete.js"></script>
<script src="/scripts/search.js" async defer></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script> -->
<!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bdb908c8509a10011c44714&product=inline-share-buttons' async='async'></script> -->

<script>
  document.getElementById("tindakan_oleh_by").addEventListener('change', function () {
    var style = this.value == "Gratis" ? '' : 'none';
    document.getElementById('hidden_div').style.display = style;
  })
  document.getElementById("tindakan_oleh_by").addEventListener('change', function () {
    var style = this.value == "Bayar" ? '' : 'none';
    document.getElementById('hidden_div2').style.display = style;
  })
</script>
</body>

</html>
<!--  -->