    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#datatable').DataTable( {
                lengthChange: false,
                buttons: [ 
                    {   extend: 'copy',
                        text: 'Copy'
                    },
                    {   extend: 'excel',
                        text: 'Export ke  Excel',
                        filename : 'Data Yelpcamp', //BAGAIMANA BISA DINAMIS NAMA FILENYA
                        title: 'Data Yelpcamp' //JUDUL DI EXCELNYA
                    },
                    {   extend: 'pdf',
                        text: 'Export ke Pdf',
                        filename : 'Data Yelpcamp', //BAGAIMANA BISA DINAMIS NAMA FILENYA
                        title: 'Data Yelpcamp' //JUDUL DI PDF NYA
                    }, 
                    'colvis' ]
            });
            table.buttons().container()
                .appendTo( '#datatable_wrapper .col-sm-6:eq(0)' );
        });
    </script>

 <!-- Custom Theme JavaScript -->
 <script src="/js/sb-admin-2.js"></script>

 <!-- Bootstrap Switch -->
 <script src="/js/bootstrap-switch.min.js"></script>

 <!-- Toaster JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


 <!-- Page-Level Demo Scripts - Tables - Use for reference -->
 <script>
//  $(document).ready(function() {
//      $('#dataTables-example').DataTable({
//          responsive: true
//      });
//  });

 $("[name='approveComment']").bootstrapSwitch();

//  $(document).ready(() => {
//     $("[name='approveComment']").on('switchChange.bootstrapSwitch', (e, data)=>{
//         console.log("IT WORKS");
//     });
//  });

  $(document).ready(()=>{
    $("[name='approveComment']").on('switchChange.bootstrapSwitch', function(e, data){

        var id = $(this).attr('data-id');
        // const id = $(this);
        // console.log(id);

        $.ajax({
            type: "POST",
            url : '/admin/comments/approve-comment',
            data : {id: id, approveComment: data},
            cache : false,
            success: function(data){
                toastr.success(`Comment with id ${data._id} was updated`);
            }
        });
    });
});
 </script>

</body>

</html>
